USE [master]
GO
/****** Object:  Database [HotelManagementDB]    Script Date: 5/19/2026 9:05:11 PM ******/
CREATE DATABASE [HotelManagementDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'HotelManagementDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\HotelManagementDB.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'HotelManagementDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\HotelManagementDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [HotelManagementDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [HotelManagementDB]
GO
/****** Object:  User [Antigravity_ReadOnly]    Script Date: 5/19/2026 9:05:11 PM ******/
CREATE USER [Antigravity_ReadOnly] FOR LOGIN [Antigravity_ReadOnly] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_datareader] ADD MEMBER [Antigravity_ReadOnly]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 5/19/2026 9:05:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Amenities]    Script Date: 5/19/2026 9:05:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Amenities](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[icon_url] [nvarchar](max) NULL,
	[is_deleted] [bit] NOT NULL,
	[is_active] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Article_Categories]    Script Date: 5/19/2026 9:05:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Article_Categories](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[is_active] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Articles]    Script Date: 5/19/2026 9:05:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Articles](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[category_id] [int] NULL,
	[author_id] [int] NULL,
	[title] [nvarchar](max) NOT NULL,
	[slug] [nvarchar](255) NULL,
	[content] [nvarchar](max) NULL,
	[thumbnail_url] [nvarchar](max) NULL,
	[published_at] [datetime] NULL,
	[is_active] [bit] NULL,
	[attraction_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Attractions]    Script Date: 5/19/2026 9:05:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Attractions](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[distance_km] [decimal](5, 2) NULL,
	[description] [nvarchar](max) NULL,
	[map_embed_link] [nvarchar](max) NULL,
	[latitude] [decimal](10, 8) NULL,
	[longitude] [decimal](11, 8) NULL,
	[address] [nvarchar](500) NULL,
	[is_active] [bit] NULL,
	[google_maps_url] [nvarchar](2000) NULL,
	[map_preview_image_url] [nvarchar](2000) NULL,
	[google_place_id] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Audit_Logs]    Script Date: 5/19/2026 9:05:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Audit_Logs](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NULL,
	[action] [nvarchar](50) NOT NULL,
	[table_name] [nvarchar](100) NOT NULL,
	[record_id] [int] NOT NULL,
	[old_value] [nvarchar](max) NULL,
	[new_value] [nvarchar](max) NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Booking_Details]    Script Date: 5/19/2026 9:05:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Booking_Details](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[booking_id] [int] NULL,
	[room_id] [int] NULL,
	[room_type_id] [int] NULL,
	[check_in_date] [datetime] NOT NULL,
	[check_out_date] [datetime] NOT NULL,
	[price_per_night] [decimal](18, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Bookings]    Script Date: 5/19/2026 9:05:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bookings](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NULL,
	[guest_name] [nvarchar](255) NULL,
	[guest_phone] [nvarchar](50) NULL,
	[guest_email] [nvarchar](255) NULL,
	[booking_code] [nvarchar](50) NOT NULL,
	[voucher_id] [int] NULL,
	[status] [nvarchar](50) NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Equipments]    Script Date: 5/19/2026 9:05:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Equipments](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ItemCode] [varchar](50) NOT NULL,
	[Name] [nvarchar](255) NOT NULL,
	[Category] [nvarchar](100) NOT NULL,
	[Unit] [nvarchar](50) NOT NULL,
	[TotalQuantity] [int] NOT NULL,
	[InUseQuantity] [int] NOT NULL,
	[DamagedQuantity] [int] NOT NULL,
	[LiquidatedQuantity] [int] NOT NULL,
	[InStockQuantity]  AS ((([TotalQuantity]-[InUseQuantity])-[DamagedQuantity])-[LiquidatedQuantity]),
	[BasePrice] [decimal](18, 2) NOT NULL,
	[DefaultPriceIfLost] [decimal](18, 2) NOT NULL,
	[Supplier] [nvarchar](255) NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime] NULL,
	[UpdatedAt] [datetime] NULL,
	[ImageUrl] [nvarchar](max) NULL,
 CONSTRAINT [PK_Equipments] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HotelBranches]    Script Date: 5/19/2026 9:05:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HotelBranches](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[address] [nvarchar](500) NULL,
	[latitude] [decimal](10, 8) NULL,
	[longitude] [decimal](11, 8) NULL,
	[phone] [nvarchar](50) NULL,
	[is_main] [bit] NOT NULL,
	[is_active] [bit] NOT NULL,
	[google_maps_url] [nvarchar](2000) NULL,
	[map_embed_link] [nvarchar](2000) NULL,
	[map_preview_image_url] [nvarchar](2000) NULL,
	[google_place_id] [nvarchar](255) NULL,
 CONSTRAINT [PK_HotelBranches] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Invoices]    Script Date: 5/19/2026 9:05:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Invoices](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[booking_id] [int] NULL,
	[total_room_amount] [decimal](18, 2) NULL,
	[total_service_amount] [decimal](18, 2) NULL,
	[discount_amount] [decimal](18, 2) NULL,
	[tax_amount] [decimal](18, 2) NULL,
	[final_total] [decimal](18, 2) NULL,
	[status] [nvarchar](50) NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Loss_And_Damages]    Script Date: 5/19/2026 9:05:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Loss_And_Damages](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[booking_detail_id] [int] NULL,
	[room_inventory_id] [int] NULL,
	[quantity] [int] NOT NULL,
	[penalty_amount] [decimal](18, 2) NOT NULL,
	[description] [nvarchar](max) NULL,
	[created_at] [datetime] NULL,
	[ImageUrl] [nvarchar](max) NULL,
	[updated_at] [datetime] NULL,
	[is_paid] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Memberships]    Script Date: 5/19/2026 9:05:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Memberships](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[tier_name] [nvarchar](100) NOT NULL,
	[min_points] [int] NULL,
	[discount_percent] [decimal](5, 2) NULL,
	[is_deleted] [bit] NOT NULL,
	[amenities] [nvarchar](1000) NULL,
	[services] [nvarchar](1000) NULL,
	[display_order] [int] NOT NULL,
	[point_multiplier] [decimal](6, 2) NULL,
	[benefits] [nvarchar](4000) NULL,
	[redeem_options] [nvarchar](4000) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Notifications]    Script Date: 5/19/2026 9:05:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notifications](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NULL,
	[title] [nvarchar](255) NOT NULL,
	[content] [nvarchar](max) NOT NULL,
	[type] [varchar](50) NULL,
	[reference_link] [varchar](255) NULL,
	[is_read] [bit] NOT NULL,
	[created_at] [datetime] NULL,
 CONSTRAINT [PK_Notifications] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order_Service_Details]    Script Date: 5/19/2026 9:05:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order_Service_Details](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[order_service_id] [int] NULL,
	[service_id] [int] NULL,
	[quantity] [int] NOT NULL,
	[unit_price] [decimal](18, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order_Services]    Script Date: 5/19/2026 9:05:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order_Services](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[booking_detail_id] [int] NULL,
	[order_date] [datetime] NULL,
	[total_amount] [decimal](18, 2) NULL,
	[status] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payments]    Script Date: 5/19/2026 9:05:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payments](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[invoice_id] [int] NULL,
	[payment_method] [nvarchar](50) NULL,
	[amount_paid] [decimal](18, 2) NOT NULL,
	[transaction_code] [nvarchar](100) NULL,
	[payment_date] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Permissions]    Script Date: 5/19/2026 9:05:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Permissions](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reviews]    Script Date: 5/19/2026 9:05:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reviews](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NULL,
	[room_type_id] [int] NULL,
	[rating] [int] NULL,
	[comment] [nvarchar](max) NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role_Dashboard_Period_States]    Script Date: 5/19/2026 9:05:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role_Dashboard_Period_States](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[role_id] [int] NOT NULL,
	[dashboard_code] [nvarchar](100) NOT NULL,
	[period_type] [nvarchar](20) NOT NULL,
	[period_key] [nvarchar](20) NOT NULL,
	[period_start] [date] NOT NULL,
	[period_end] [date] NOT NULL,
	[status] [nvarchar](20) NOT NULL,
	[dashboard_json] [nvarchar](max) NULL,
	[comparison_json] [nvarchar](max) NULL,
	[last_event] [nvarchar](200) NULL,
	[updated_at] [datetime2](7) NULL,
	[updated_by] [nvarchar](100) NULL,
	[version] [int] NOT NULL,
	[role_name] [nvarchar](100) NOT NULL,
	[dashboard_title] [nvarchar](255) NOT NULL,
	[is_current] [bit] NOT NULL,
	[last_event_type] [varchar](100) NULL,
	[last_event_source] [varchar](100) NULL,
	[last_event_ref_id] [int] NULL,
	[created_at] [datetime2](7) NOT NULL,
	[closed_at] [datetime2](7) NULL,
 CONSTRAINT [PK_DashSnapshot] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role_Permissions]    Script Date: 5/19/2026 9:05:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role_Permissions](
	[role_id] [int] NOT NULL,
	[permission_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[role_id] ASC,
	[permission_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 5/19/2026 9:05:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
	[description] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Room_Images]    Script Date: 5/19/2026 9:05:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Room_Images](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[room_type_id] [int] NULL,
	[image_url] [nvarchar](max) NOT NULL,
	[is_primary] [bit] NULL,
	[is_active] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Room_Inventory]    Script Date: 5/19/2026 9:05:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Room_Inventory](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[room_id] [int] NULL,
	[item_name] [nvarchar](255) NOT NULL,
	[quantity] [int] NULL,
	[price_if_lost] [decimal](18, 2) NULL,
	[note] [nvarchar](255) NULL,
	[is_active] [bit] NULL,
	[item_type] [varchar](50) NULL,
	[EquipmentId] [int] NOT NULL,
	[unit] [nvarchar](50) NULL,
	[quantity_in_use] [int] NOT NULL,
	[quantity_damaged] [int] NOT NULL,
	[image_url] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Room_Types]    Script Date: 5/19/2026 9:05:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Room_Types](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[base_price] [decimal](18, 2) NOT NULL,
	[capacity_adults] [int] NOT NULL,
	[capacity_children] [int] NOT NULL,
	[description] [nvarchar](max) NULL,
	[size_sqm] [int] NULL,
	[bed_type] [nvarchar](100) NULL,
	[view_type] [nvarchar](100) NULL,
	[is_active] [bit] NULL,
	[slug] [varchar](255) NULL,
	[content] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rooms]    Script Date: 5/19/2026 9:05:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rooms](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[room_type_id] [int] NULL,
	[room_number] [nvarchar](50) NOT NULL,
	[floor] [int] NULL,
	[status] [nvarchar](50) NULL,
	[cleaning_status] [varchar](50) NULL,
	[extension_number] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RoomType_Amenities]    Script Date: 5/19/2026 9:05:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RoomType_Amenities](
	[room_type_id] [int] NOT NULL,
	[amenity_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[room_type_id] ASC,
	[amenity_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RoomType_Services]    Script Date: 5/19/2026 9:05:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RoomType_Services](
	[room_type_id] [int] NOT NULL,
	[service_id] [int] NOT NULL,
 CONSTRAINT [PK_RoomType_Services] PRIMARY KEY CLUSTERED 
(
	[room_type_id] ASC,
	[service_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Service_Categories]    Script Date: 5/19/2026 9:05:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Service_Categories](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Services]    Script Date: 5/19/2026 9:05:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Services](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[category_id] [int] NULL,
	[name] [nvarchar](255) NOT NULL,
	[price] [decimal](18, 2) NOT NULL,
	[unit] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 5/19/2026 9:05:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[role_id] [int] NULL,
	[membership_id] [int] NULL,
	[full_name] [nvarchar](255) NOT NULL,
	[email] [nvarchar](255) NOT NULL,
	[phone] [nvarchar](50) NULL,
	[password_hash] [nvarchar](max) NOT NULL,
	[status] [bit] NULL,
	[avatar_url] [nvarchar](255) NULL,
	[created_at] [datetime] NULL,
	[date_of_birth] [date] NULL,
	[address] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Vouchers]    Script Date: 5/19/2026 9:05:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vouchers](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[code] [nvarchar](50) NOT NULL,
	[discount_type] [nvarchar](50) NOT NULL,
	[discount_value] [decimal](18, 2) NOT NULL,
	[min_booking_value] [decimal](18, 2) NULL,
	[valid_from] [datetime] NULL,
	[valid_to] [datetime] NULL,
	[usage_limit] [int] NULL,
	[is_active] [bit] NOT NULL,
	[voucher_type] [nvarchar](50) NOT NULL,
	[holiday_name] [nvarchar](100) NULL,
	[membership_tier] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Amenities] ON 

INSERT [dbo].[Amenities] ([id], [name], [icon_url], [is_deleted], [is_active]) VALUES (1, N'Wifi Miễn Phí', N'wifi.png', 0, 1)
INSERT [dbo].[Amenities] ([id], [name], [icon_url], [is_deleted], [is_active]) VALUES (2, N'Smart TV', N'tv.png', 0, 1)
INSERT [dbo].[Amenities] ([id], [name], [icon_url], [is_deleted], [is_active]) VALUES (3, N'Điều Hòa', N'ac.png', 0, 1)
SET IDENTITY_INSERT [dbo].[Amenities] OFF
GO
SET IDENTITY_INSERT [dbo].[Article_Categories] ON 

INSERT [dbo].[Article_Categories] ([id], [name], [is_active]) VALUES (1, N'Tin Tức Khách Sạn', NULL)
INSERT [dbo].[Article_Categories] ([id], [name], [is_active]) VALUES (2, N'Cẩm Nang Du Lịch', NULL)
INSERT [dbo].[Article_Categories] ([id], [name], [is_active]) VALUES (3, N'Khám Phá Ẩm Thực', NULL)
SET IDENTITY_INSERT [dbo].[Article_Categories] OFF
GO
SET IDENTITY_INSERT [dbo].[Articles] ON 

INSERT [dbo].[Articles] ([id], [category_id], [author_id], [title], [slug], [content], [thumbnail_url], [published_at], [is_active], [attraction_id]) VALUES (2, 2, 2, N'5 điểm đến không thể bỏ lỡ', N'5-diem-den', N'Nội dung...', NULL, CAST(N'2026-03-06T22:07:35.023' AS DateTime), NULL, NULL)
INSERT [dbo].[Articles] ([id], [category_id], [author_id], [title], [slug], [content], [thumbnail_url], [published_at], [is_active], [attraction_id]) VALUES (3, 3, 3, N'Món ngon hải sản địa phương', N'mon-ngon-hai-san', N'Nội dung...', NULL, CAST(N'2026-03-06T22:07:35.023' AS DateTime), NULL, NULL)
SET IDENTITY_INSERT [dbo].[Articles] OFF
GO
SET IDENTITY_INSERT [dbo].[Attractions] ON 

INSERT [dbo].[Attractions] ([id], [name], [distance_km], [description], [map_embed_link], [latitude], [longitude], [address], [is_active], [google_maps_url], [map_preview_image_url], [google_place_id]) VALUES (2, N'Bãi Biển Chính', CAST(0.50 AS Decimal(5, 2)), N'Bãi tắm công cộng tuyệt đẹp', N'link_map_2', NULL, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[Attractions] ([id], [name], [distance_km], [description], [map_embed_link], [latitude], [longitude], [address], [is_active], [google_maps_url], [map_preview_image_url], [google_place_id]) VALUES (3, N'Bảo Tàng Thành Phố', CAST(3.00 AS Decimal(5, 2)), N'Lưu giữ giá trị lịch sử', N'link_map_3', NULL, NULL, NULL, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Attractions] OFF
GO
SET IDENTITY_INSERT [dbo].[Audit_Logs] ON 

INSERT [dbo].[Audit_Logs] ([id], [user_id], [action], [table_name], [record_id], [old_value], [new_value], [created_at]) VALUES (1, 1, N'UPDATE', N'Rooms', 1, N'{"status":"Cleaning"}', N'{"status":"Available"}', CAST(N'2026-03-06T22:07:35.023' AS DateTime))
INSERT [dbo].[Audit_Logs] ([id], [user_id], [action], [table_name], [record_id], [old_value], [new_value], [created_at]) VALUES (2, 2, N'DELETE', N'Bookings', 5, N'{"id":5}', N'{}', CAST(N'2026-03-06T22:07:35.023' AS DateTime))
INSERT [dbo].[Audit_Logs] ([id], [user_id], [action], [table_name], [record_id], [old_value], [new_value], [created_at]) VALUES (3, 3, N'CREATE', N'Invoices', 1, N'{}', N'{"id":1}', CAST(N'2026-03-06T22:07:35.023' AS DateTime))
SET IDENTITY_INSERT [dbo].[Audit_Logs] OFF
GO
SET IDENTITY_INSERT [dbo].[Booking_Details] ON 

INSERT [dbo].[Booking_Details] ([id], [booking_id], [room_id], [room_type_id], [check_in_date], [check_out_date], [price_per_night]) VALUES (1, 1, 1, 1, CAST(N'2026-03-01T00:00:00.000' AS DateTime), CAST(N'2026-03-03T00:00:00.000' AS DateTime), CAST(400000.00 AS Decimal(18, 2)))
INSERT [dbo].[Booking_Details] ([id], [booking_id], [room_id], [room_type_id], [check_in_date], [check_out_date], [price_per_night]) VALUES (2, 2, 2, 2, CAST(N'2026-03-05T00:00:00.000' AS DateTime), CAST(N'2026-03-10T00:00:00.000' AS DateTime), CAST(500000.00 AS Decimal(18, 2)))
INSERT [dbo].[Booking_Details] ([id], [booking_id], [room_id], [room_type_id], [check_in_date], [check_out_date], [price_per_night]) VALUES (3, 3, NULL, 3, CAST(N'2026-04-10T00:00:00.000' AS DateTime), CAST(N'2026-04-12T00:00:00.000' AS DateTime), CAST(700000.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[Booking_Details] OFF
GO
SET IDENTITY_INSERT [dbo].[Bookings] ON 

INSERT [dbo].[Bookings] ([id], [user_id], [guest_name], [guest_phone], [guest_email], [booking_code], [voucher_id], [status], [created_at]) VALUES (1, 6, N'Khách Hàng A', N'0900000006', NULL, N'BK-0001', NULL, N'Completed', CAST(N'2026-04-02T23:48:15.453' AS DateTime))
INSERT [dbo].[Bookings] ([id], [user_id], [guest_name], [guest_phone], [guest_email], [booking_code], [voucher_id], [status], [created_at]) VALUES (2, 7, N'Khách Hàng B', N'0900000007', NULL, N'BK-0002', NULL, N'Checked_in', CAST(N'2026-04-02T23:48:15.453' AS DateTime))
INSERT [dbo].[Bookings] ([id], [user_id], [guest_name], [guest_phone], [guest_email], [booking_code], [voucher_id], [status], [created_at]) VALUES (3, 8, N'Khách Hàng C', N'0900000008', NULL, N'BK-0003', NULL, N'Confirmed', CAST(N'2026-04-02T23:48:15.457' AS DateTime))
SET IDENTITY_INSERT [dbo].[Bookings] OFF
GO
SET IDENTITY_INSERT [dbo].[Equipments] ON 

INSERT [dbo].[Equipments] ([Id], [ItemCode], [Name], [Category], [Unit], [TotalQuantity], [InUseQuantity], [DamagedQuantity], [LiquidatedQuantity], [BasePrice], [DefaultPriceIfLost], [Supplier], [IsActive], [CreatedAt], [UpdatedAt], [ImageUrl]) VALUES (1, N'TV-SS-43', N'Smart TV Samsung 43 inch', N'Điện tử', N'Cái', 50, 50, 1, 0, CAST(7500000.00 AS Decimal(18, 2)), CAST(8000000.00 AS Decimal(18, 2)), N'Samsung Vietnam', 1, CAST(N'2026-03-25T14:10:11.023' AS DateTime), CAST(N'2026-03-26T17:31:18.543' AS DateTime), NULL)
INSERT [dbo].[Equipments] ([Id], [ItemCode], [Name], [Category], [Unit], [TotalQuantity], [InUseQuantity], [DamagedQuantity], [LiquidatedQuantity], [BasePrice], [DefaultPriceIfLost], [Supplier], [IsActive], [CreatedAt], [UpdatedAt], [ImageUrl]) VALUES (2, N'AC-DK-9000', N'Điều hòa Daikin 9000 BTU', N'Điện tử', N'Cái', 50, 55, 0, 0, CAST(8200000.00 AS Decimal(18, 2)), CAST(9000000.00 AS Decimal(18, 2)), N'Daikin Vietnam', 1, CAST(N'2026-03-25T14:10:11.023' AS DateTime), CAST(N'2026-03-26T17:30:04.510' AS DateTime), NULL)
INSERT [dbo].[Equipments] ([Id], [ItemCode], [Name], [Category], [Unit], [TotalQuantity], [InUseQuantity], [DamagedQuantity], [LiquidatedQuantity], [BasePrice], [DefaultPriceIfLost], [Supplier], [IsActive], [CreatedAt], [UpdatedAt], [ImageUrl]) VALUES (3, N'MB-AF-50', N'Tủ lạnh Minibar Aqua 50L', N'Điện tử', N'Cái', 55, 58, 2, 0, CAST(2500000.00 AS Decimal(18, 2)), CAST(3000000.00 AS Decimal(18, 2)), N'Aqua', 1, CAST(N'2026-03-25T14:10:11.023' AS DateTime), NULL, NULL)
SET IDENTITY_INSERT [dbo].[Equipments] OFF
GO
SET IDENTITY_INSERT [dbo].[HotelBranches] ON 

SET IDENTITY_INSERT [dbo].[HotelBranches] OFF
GO
SET IDENTITY_INSERT [dbo].[Invoices] ON 

INSERT [dbo].[Invoices] ([id], [booking_id], [total_room_amount], [total_service_amount], [discount_amount], [tax_amount], [final_total], [status], [created_at]) VALUES (1, 1, CAST(800000.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), CAST(80000.00 AS Decimal(18, 2)), CAST(880000.00 AS Decimal(18, 2)), N'Paid', CAST(N'2026-04-02T23:48:15.497' AS DateTime))
INSERT [dbo].[Invoices] ([id], [booking_id], [total_room_amount], [total_service_amount], [discount_amount], [tax_amount], [final_total], [status], [created_at]) VALUES (2, 2, CAST(2500000.00 AS Decimal(18, 2)), CAST(200000.00 AS Decimal(18, 2)), CAST(250000.00 AS Decimal(18, 2)), CAST(245000.00 AS Decimal(18, 2)), CAST(2695000.00 AS Decimal(18, 2)), N'Unpaid', CAST(N'2026-04-02T23:48:15.497' AS DateTime))
INSERT [dbo].[Invoices] ([id], [booking_id], [total_room_amount], [total_service_amount], [discount_amount], [tax_amount], [final_total], [status], [created_at]) VALUES (3, 3, CAST(1400000.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), CAST(140000.00 AS Decimal(18, 2)), CAST(1540000.00 AS Decimal(18, 2)), N'Paid', CAST(N'2026-04-02T23:48:15.497' AS DateTime))
SET IDENTITY_INSERT [dbo].[Invoices] OFF
GO
SET IDENTITY_INSERT [dbo].[Loss_And_Damages] ON 

INSERT [dbo].[Loss_And_Damages] ([id], [booking_detail_id], [room_inventory_id], [quantity], [penalty_amount], [description], [created_at], [ImageUrl], [updated_at], [is_paid]) VALUES (31, 2, 118, 2, CAST(20000.00 AS Decimal(18, 2)), NULL, CAST(N'2026-03-27T15:42:13.707' AS DateTime), NULL, NULL, 0)
INSERT [dbo].[Loss_And_Damages] ([id], [booking_detail_id], [room_inventory_id], [quantity], [penalty_amount], [description], [created_at], [ImageUrl], [updated_at], [is_paid]) VALUES (34, 2, 119, 1, CAST(30000.00 AS Decimal(18, 2)), N'khách dùng', CAST(N'2026-03-28T01:26:23.170' AS DateTime), NULL, CAST(N'2026-04-07T21:53:41.240' AS DateTime), 1)
INSERT [dbo].[Loss_And_Damages] ([id], [booking_detail_id], [room_inventory_id], [quantity], [penalty_amount], [description], [created_at], [ImageUrl], [updated_at], [is_paid]) VALUES (38, NULL, 119, 1, CAST(30000.00 AS Decimal(18, 2)), N'', CAST(N'2026-04-07T22:01:02.650' AS DateTime), NULL, NULL, 0)
SET IDENTITY_INSERT [dbo].[Loss_And_Damages] OFF
GO
SET IDENTITY_INSERT [dbo].[Memberships] ON 

INSERT [dbo].[Memberships] ([id], [tier_name], [min_points], [discount_percent], [is_deleted], [amenities], [services], [display_order], [point_multiplier], [benefits], [redeem_options]) VALUES (1, N'Đồng', 0, CAST(5.00 AS Decimal(5, 2)), 0, N'Nuoc chao mung', N'Uu tien check-in', 1, CAST(1.00 AS Decimal(6, 2)), N'Giam 5% gia phong
Uu tien check-in
Nuoc chao mung', N'500 diem = voucher 50.000d')
INSERT [dbo].[Memberships] ([id], [tier_name], [min_points], [discount_percent], [is_deleted], [amenities], [services], [display_order], [point_multiplier], [benefits], [redeem_options]) VALUES (2, N'Đồng', 500, CAST(2.00 AS Decimal(5, 2)), 1, NULL, NULL, 1, CAST(1.00 AS Decimal(6, 2)), NULL, NULL)
INSERT [dbo].[Memberships] ([id], [tier_name], [min_points], [discount_percent], [is_deleted], [amenities], [services], [display_order], [point_multiplier], [benefits], [redeem_options]) VALUES (3, N'Bạc', 2000, CAST(7.00 AS Decimal(5, 2)), 0, N'Late checkout neu con phong', N'Giam 10% spa/F&B', 2, CAST(1.20 AS Decimal(6, 2)), N'Giam 7% gia phong
10% spa/F&B
Late checkout neu con phong', N'500 diem = voucher 50.000d
1.500 diem = breakfast for 2')
SET IDENTITY_INSERT [dbo].[Memberships] OFF
GO
SET IDENTITY_INSERT [dbo].[Notifications] ON 

INSERT [dbo].[Notifications] ([id], [user_id], [title], [content], [type], [reference_link], [is_read], [created_at]) VALUES (1, NULL, N'Hệ thống cảnh báo', N'Đã tạo mới RoomTypes thành công.', N'success', NULL, 1, CAST(N'2026-04-10T15:36:29.577' AS DateTime))
INSERT [dbo].[Notifications] ([id], [user_id], [title], [content], [type], [reference_link], [is_read], [created_at]) VALUES (2, NULL, N'Hệ thống cảnh báo', N'Đã tạo mới Auth thành công.', N'success', NULL, 1, CAST(N'2026-04-10T15:43:00.543' AS DateTime))
INSERT [dbo].[Notifications] ([id], [user_id], [title], [content], [type], [reference_link], [is_read], [created_at]) VALUES (3, NULL, N'Hệ thống cảnh báo', N'Đã cập nhật Rooms thành công. (Bởi: Admin)', N'success', NULL, 1, CAST(N'2026-04-10T15:43:31.160' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[Notifications] OFF
GO
SET IDENTITY_INSERT [dbo].[Order_Service_Details] ON 

INSERT [dbo].[Order_Service_Details] ([id], [order_service_id], [service_id], [quantity], [unit_price]) VALUES (1, 2, 2, 1, CAST(150000.00 AS Decimal(18, 2)))
INSERT [dbo].[Order_Service_Details] ([id], [order_service_id], [service_id], [quantity], [unit_price]) VALUES (2, 2, 10, 1, CAST(50000.00 AS Decimal(18, 2)))
INSERT [dbo].[Order_Service_Details] ([id], [order_service_id], [service_id], [quantity], [unit_price]) VALUES (3, 4, 3, 1, CAST(500000.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[Order_Service_Details] OFF
GO
SET IDENTITY_INSERT [dbo].[Order_Services] ON 

INSERT [dbo].[Order_Services] ([id], [booking_detail_id], [order_date], [total_amount], [status]) VALUES (1, 1, CAST(N'2026-03-06T22:07:35.027' AS DateTime), CAST(0.00 AS Decimal(18, 2)), N'Cancelled')
INSERT [dbo].[Order_Services] ([id], [booking_detail_id], [order_date], [total_amount], [status]) VALUES (2, 2, CAST(N'2026-03-06T22:07:35.027' AS DateTime), CAST(200000.00 AS Decimal(18, 2)), N'Delivered')
INSERT [dbo].[Order_Services] ([id], [booking_detail_id], [order_date], [total_amount], [status]) VALUES (3, 3, CAST(N'2026-03-06T22:07:35.027' AS DateTime), CAST(0.00 AS Decimal(18, 2)), N'Pending')
SET IDENTITY_INSERT [dbo].[Order_Services] OFF
GO
SET IDENTITY_INSERT [dbo].[Payments] ON 

INSERT [dbo].[Payments] ([id], [invoice_id], [payment_method], [amount_paid], [transaction_code], [payment_date]) VALUES (1, 1, N'Cash', CAST(880000.00 AS Decimal(18, 2)), N'CASH001', CAST(N'2026-03-06T22:07:35.027' AS DateTime))
INSERT [dbo].[Payments] ([id], [invoice_id], [payment_method], [amount_paid], [transaction_code], [payment_date]) VALUES (2, 2, N'VNPay', CAST(1000000.00 AS Decimal(18, 2)), N'VNPAY123', CAST(N'2026-03-06T22:07:35.027' AS DateTime))
INSERT [dbo].[Payments] ([id], [invoice_id], [payment_method], [amount_paid], [transaction_code], [payment_date]) VALUES (3, 3, N'Credit Card', CAST(500000.00 AS Decimal(18, 2)), N'CC456', CAST(N'2026-03-06T22:07:35.027' AS DateTime))
SET IDENTITY_INSERT [dbo].[Payments] OFF
GO
SET IDENTITY_INSERT [dbo].[Permissions] ON 

INSERT [dbo].[Permissions] ([id], [name]) VALUES (1, N'VIEW_DASHBOARD')
INSERT [dbo].[Permissions] ([id], [name]) VALUES (2, N'MANAGE_USERS')
INSERT [dbo].[Permissions] ([id], [name]) VALUES (3, N'MANAGE_ROLES')
SET IDENTITY_INSERT [dbo].[Permissions] OFF
GO
SET IDENTITY_INSERT [dbo].[Reviews] ON 

INSERT [dbo].[Reviews] ([id], [user_id], [room_type_id], [rating], [comment], [created_at]) VALUES (1, 6, 1, 5, N'Phòng tuyệt vời!', CAST(N'2026-03-06T22:07:35.023' AS DateTime))
INSERT [dbo].[Reviews] ([id], [user_id], [room_type_id], [rating], [comment], [created_at]) VALUES (2, 7, 2, 4, N'Khá tốt, nhân viên thân thiện.', CAST(N'2026-03-06T22:07:35.023' AS DateTime))
INSERT [dbo].[Reviews] ([id], [user_id], [room_type_id], [rating], [comment], [created_at]) VALUES (3, 8, 3, 3, N'Bình thường, điều hòa hơi ồn.', CAST(N'2026-03-06T22:07:35.023' AS DateTime))
SET IDENTITY_INSERT [dbo].[Reviews] OFF
GO
SET IDENTITY_INSERT [dbo].[Role_Dashboard_Period_States] ON 

SET IDENTITY_INSERT [dbo].[Role_Dashboard_Period_States] OFF
GO
INSERT [dbo].[Role_Permissions] ([role_id], [permission_id]) VALUES (1, 1)
INSERT [dbo].[Role_Permissions] ([role_id], [permission_id]) VALUES (1, 2)
INSERT [dbo].[Role_Permissions] ([role_id], [permission_id]) VALUES (1, 3)
GO
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([id], [name], [description]) VALUES (1, N'Admin', N'Quản trị viên')
INSERT [dbo].[Roles] ([id], [name], [description]) VALUES (2, N'Manager', N'Quản lý khách sạn')
INSERT [dbo].[Roles] ([id], [name], [description]) VALUES (3, N'Receptionist', N'Lễ tân')
SET IDENTITY_INSERT [dbo].[Roles] OFF
GO
SET IDENTITY_INSERT [dbo].[Room_Images] ON 

INSERT [dbo].[Room_Images] ([id], [room_type_id], [image_url], [is_primary], [is_active]) VALUES (1, 1, N'type1_img.jpg', 1, 1)
INSERT [dbo].[Room_Images] ([id], [room_type_id], [image_url], [is_primary], [is_active]) VALUES (2, 2, N'type2_img.jpg', 1, 1)
INSERT [dbo].[Room_Images] ([id], [room_type_id], [image_url], [is_primary], [is_active]) VALUES (3, 3, N'type3_img.jpg', 1, 1)
SET IDENTITY_INSERT [dbo].[Room_Images] OFF
GO
SET IDENTITY_INSERT [dbo].[Room_Inventory] ON 

INSERT [dbo].[Room_Inventory] ([id], [room_id], [item_name], [quantity], [price_if_lost], [note], [is_active], [item_type], [EquipmentId], [unit], [quantity_in_use], [quantity_damaged], [image_url]) VALUES (83, 1, N'Smart TV Samsung 43 inch', 1, CAST(8000000.00 AS Decimal(18, 2)), N'Treo tuong', 0, N'Asset', 1, NULL, 0, 0, NULL)
INSERT [dbo].[Room_Inventory] ([id], [room_id], [item_name], [quantity], [price_if_lost], [note], [is_active], [item_type], [EquipmentId], [unit], [quantity_in_use], [quantity_damaged], [image_url]) VALUES (84, 1, N'Điều hòa Daikin 9000 BTU', 1, CAST(9000000.00 AS Decimal(18, 2)), N'Moi bao duong', 1, N'Asset', 2, NULL, 0, 0, NULL)
INSERT [dbo].[Room_Inventory] ([id], [room_id], [item_name], [quantity], [price_if_lost], [note], [is_active], [item_type], [EquipmentId], [unit], [quantity_in_use], [quantity_damaged], [image_url]) VALUES (85, 1, N'Giường King Size 2m x 2m2', 1, CAST(15000000.00 AS Decimal(18, 2)), N'Khong dem', 0, N'Asset', 6, NULL, 0, 0, NULL)
GO
SET IDENTITY_INSERT [dbo].[Room_Inventory] OFF
GO
SET IDENTITY_INSERT [dbo].[Room_Types] ON 

INSERT [dbo].[Room_Types] ([id], [name], [base_price], [capacity_adults], [capacity_children], [description], [size_sqm], [bed_type], [view_type], [is_active], [slug], [content]) VALUES (1, N'Phòng tiêu chuẩn 1 giường đơn', CAST(400000.00 AS Decimal(18, 2)), 1, 1, N'Phòng tiêu chuẩn 1 giường đơn', NULL, NULL, NULL, 1, N'phong-tieu-chuan-1-giuong-don', NULL)
INSERT [dbo].[Room_Types] ([id], [name], [base_price], [capacity_adults], [capacity_children], [description], [size_sqm], [bed_type], [view_type], [is_active], [slug], [content]) VALUES (2, N'Phòng tiêu chuẩn 1 giường đôi', CAST(500000.00 AS Decimal(18, 2)), 2, 1, N'Phòng tiêu chuẩn 1 giường đôi', NULL, NULL, NULL, 1, N'phong-tieu-chuan-1-giuong-doi', NULL)
INSERT [dbo].[Room_Types] ([id], [name], [base_price], [capacity_adults], [capacity_children], [description], [size_sqm], [bed_type], [view_type], [is_active], [slug], [content]) VALUES (3, N'Phòng cao cấp hướng phố', CAST(700000.00 AS Decimal(18, 2)), 2, 1, N'Phòng cao cấp hướng phố', NULL, NULL, NULL, 1, N'phong-cao-cap-huong-pho', NULL)
SET IDENTITY_INSERT [dbo].[Room_Types] OFF
GO
SET IDENTITY_INSERT [dbo].[Rooms] ON 

INSERT [dbo].[Rooms] ([id], [room_type_id], [room_number], [floor], [status], [cleaning_status], [extension_number]) VALUES (1, 1, N'101', 1, N'Occupied', N'clean', NULL)
INSERT [dbo].[Rooms] ([id], [room_type_id], [room_number], [floor], [status], [cleaning_status], [extension_number]) VALUES (2, 1, N'102', 1, N'Occupied', N'clean', NULL)
INSERT [dbo].[Rooms] ([id], [room_type_id], [room_number], [floor], [status], [cleaning_status], [extension_number]) VALUES (3, 3, N'201', 2, N'Available', N'clean', NULL)
SET IDENTITY_INSERT [dbo].[Rooms] OFF
GO
INSERT [dbo].[RoomType_Amenities] ([room_type_id], [amenity_id]) VALUES (1, 1)
INSERT [dbo].[RoomType_Amenities] ([room_type_id], [amenity_id]) VALUES (1, 2)
INSERT [dbo].[RoomType_Amenities] ([room_type_id], [amenity_id]) VALUES (1, 3)
GO
SET IDENTITY_INSERT [dbo].[Service_Categories] ON 

INSERT [dbo].[Service_Categories] ([id], [name]) VALUES (1, N'Nhà Hàng & Ẩm Thực')
INSERT [dbo].[Service_Categories] ([id], [name]) VALUES (2, N'Spa & Massage')
INSERT [dbo].[Service_Categories] ([id], [name]) VALUES (3, N'Di Chuyển & Đưa Đón')
SET IDENTITY_INSERT [dbo].[Service_Categories] OFF
GO
SET IDENTITY_INSERT [dbo].[Services] ON 

INSERT [dbo].[Services] ([id], [category_id], [name], [price], [unit]) VALUES (1, 1, N'Set Ăn Sáng Buffet', CAST(200000.00 AS Decimal(18, 2)), N'Người')
INSERT [dbo].[Services] ([id], [category_id], [name], [price], [unit]) VALUES (2, 1, N'Mì Ý Hải Sản', CAST(150000.00 AS Decimal(18, 2)), N'Phần')
INSERT [dbo].[Services] ([id], [category_id], [name], [price], [unit]) VALUES (3, 2, N'Massage Toàn Thân 60p', CAST(500000.00 AS Decimal(18, 2)), N'Lượt')
SET IDENTITY_INSERT [dbo].[Services] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([id], [role_id], [membership_id], [full_name], [email], [phone], [password_hash], [status], [avatar_url], [created_at], [date_of_birth], [address]) VALUES (1, 1, 1, N'Admin', N'vibecoding209@gmail.com', N'0589784564', N'$2b$11$HyWRRMshB37gSw8Njmw8teGv4A1zAAGeVYCxpp5Pa5LB/taw2zuT2', 1, N'https://res.cloudinary.com/dzfuzh2xg/image/upload/v1773398430/QuanTriKhachSan/Avatars/ufmestnrdxqu9ulbgkko.png', NULL, NULL, NULL)
INSERT [dbo].[Users] ([id], [role_id], [membership_id], [full_name], [email], [phone], [password_hash], [status], [avatar_url], [created_at], [date_of_birth], [address]) VALUES (2, 2, 1, N'Trần Manager', N'manager@hotel.com', N'0900000002', N'$2b$11$/cXFqm6O9WbfsBOStVzKSO/gGEPQ2KAENGD1aF.MUCq8mx4aOaCyS', 1, NULL, NULL, NULL, NULL)
INSERT [dbo].[Users] ([id], [role_id], [membership_id], [full_name], [email], [phone], [password_hash], [status], [avatar_url], [created_at], [date_of_birth], [address]) VALUES (3, 3, 1, N'Lê Lễ Tân', N'reception1@hotel.com', N'0900000003', N'$2b$11$c4o0mpgosJl9VQXK4i5qceRZq8ogXzHTDx1oF4g3wVhZdCZ22eGhi', 1, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET IDENTITY_INSERT [dbo].[Vouchers] ON 

INSERT [dbo].[Vouchers] ([id], [code], [discount_type], [discount_value], [min_booking_value], [valid_from], [valid_to], [usage_limit], [is_active], [voucher_type], [holiday_name], [membership_tier]) VALUES (11, N'GIAM100K', N'Fixed', CAST(100000.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), NULL, NULL, NULL, 1, N'General', NULL, NULL)
INSERT [dbo].[Vouchers] ([id], [code], [discount_type], [discount_value], [min_booking_value], [valid_from], [valid_to], [usage_limit], [is_active], [voucher_type], [holiday_name], [membership_tier]) VALUES (12, N'GIAM200K', N'Fixed', CAST(200000.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), NULL, NULL, NULL, 1, N'General', NULL, NULL)
INSERT [dbo].[Vouchers] ([id], [code], [discount_type], [discount_value], [min_booking_value], [valid_from], [valid_to], [usage_limit], [is_active], [voucher_type], [holiday_name], [membership_tier]) VALUES (13, N'GIAM500K', N'Fixed', CAST(500000.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), NULL, NULL, NULL, 1, N'General', NULL, NULL)
SET IDENTITY_INSERT [dbo].[Vouchers] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Articles__32DD1E4C1DEC2177]    Script Date: 5/19/2026 9:05:11 PM ******/
ALTER TABLE [dbo].[Articles] ADD UNIQUE NONCLUSTERED 
(
	[slug] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Bookings__FF29040F7550CD6F]    Script Date: 5/19/2026 9:05:11 PM ******/
ALTER TABLE [dbo].[Bookings] ADD UNIQUE NONCLUSTERED 
(
	[booking_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Notifications_UserId_IsRead]    Script Date: 5/19/2026 9:05:11 PM ******/
CREATE NONCLUSTERED INDEX [IX_Notifications_UserId_IsRead] ON [dbo].[Notifications]
(
	[user_id] ASC,
	[is_read] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UX_DashSnapshot_Key]    Script Date: 5/19/2026 9:05:11 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_DashSnapshot_Key] ON [dbo].[Role_Dashboard_Period_States]
(
	[role_id] ASC,
	[dashboard_code] ASC,
	[period_type] ASC,
	[period_key] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UX_RoleDashboardPeriod_Role_Dashboard_Period]    Script Date: 5/19/2026 9:05:11 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_RoleDashboardPeriod_Role_Dashboard_Period] ON [dbo].[Role_Dashboard_Period_States]
(
	[role_id] ASC,
	[dashboard_code] ASC,
	[period_type] ASC,
	[period_key] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__AB6E6164E6249D5C]    Script Date: 5/19/2026 9:05:11 PM ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Vouchers__357D4CF9B4E31CBC]    Script Date: 5/19/2026 9:05:11 PM ******/
ALTER TABLE [dbo].[Vouchers] ADD UNIQUE NONCLUSTERED 
(
	[code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Amenities] ADD  DEFAULT ((0)) FOR [is_deleted]
GO
ALTER TABLE [dbo].[Amenities] ADD  CONSTRAINT [DF__Amenities__is_ac__151B244E]  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[Article_Categories] ADD  CONSTRAINT [DF__Article_C__is_ac__2739D489]  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[Articles] ADD  DEFAULT (getdate()) FOR [published_at]
GO
ALTER TABLE [dbo].[Articles] ADD  CONSTRAINT [DF__Articles__is_act__282DF8C2]  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[Attractions] ADD  CONSTRAINT [DF__Attractio__is_ac__29221CFB]  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[Audit_Logs] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Bookings] ADD  DEFAULT ('Pending') FOR [status]
GO
ALTER TABLE [dbo].[Bookings] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Equipments] ADD  CONSTRAINT [DF__Equipment__IsAct__55F4C372]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Equipments] ADD  CONSTRAINT [DF__Equipment__Creat__56E8E7AB]  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[HotelBranches] ADD  DEFAULT ((0)) FOR [is_main]
GO
ALTER TABLE [dbo].[HotelBranches] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[Invoices] ADD  DEFAULT ((0)) FOR [total_room_amount]
GO
ALTER TABLE [dbo].[Invoices] ADD  DEFAULT ((0)) FOR [total_service_amount]
GO
ALTER TABLE [dbo].[Invoices] ADD  DEFAULT ((0)) FOR [discount_amount]
GO
ALTER TABLE [dbo].[Invoices] ADD  DEFAULT ((0)) FOR [tax_amount]
GO
ALTER TABLE [dbo].[Invoices] ADD  DEFAULT ((0)) FOR [final_total]
GO
ALTER TABLE [dbo].[Invoices] ADD  DEFAULT ('Unpaid') FOR [status]
GO
ALTER TABLE [dbo].[Invoices] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Loss_And_Damages] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Loss_And_Damages] ADD  DEFAULT ((0)) FOR [is_paid]
GO
ALTER TABLE [dbo].[Memberships] ADD  DEFAULT ((0)) FOR [min_points]
GO
ALTER TABLE [dbo].[Memberships] ADD  DEFAULT ((0.00)) FOR [discount_percent]
GO
ALTER TABLE [dbo].[Memberships] ADD  DEFAULT ((0)) FOR [is_deleted]
GO
ALTER TABLE [dbo].[Memberships] ADD  DEFAULT ((0)) FOR [display_order]
GO
ALTER TABLE [dbo].[Memberships] ADD  DEFAULT ((1)) FOR [point_multiplier]
GO
ALTER TABLE [dbo].[Notifications] ADD  CONSTRAINT [DF_Notifications_is_read]  DEFAULT ((0)) FOR [is_read]
GO
ALTER TABLE [dbo].[Notifications] ADD  CONSTRAINT [DF_Notifications_created_at]  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Order_Services] ADD  DEFAULT (getdate()) FOR [order_date]
GO
ALTER TABLE [dbo].[Order_Services] ADD  DEFAULT ((0)) FOR [total_amount]
GO
ALTER TABLE [dbo].[Order_Services] ADD  DEFAULT ('Pending') FOR [status]
GO
ALTER TABLE [dbo].[Payments] ADD  DEFAULT (getdate()) FOR [payment_date]
GO
ALTER TABLE [dbo].[Reviews] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Role_Dashboard_Period_States] ADD  CONSTRAINT [DF_Dash_Status]  DEFAULT ('OPEN') FOR [status]
GO
ALTER TABLE [dbo].[Role_Dashboard_Period_States] ADD  CONSTRAINT [DF_Dash_Version]  DEFAULT ((1)) FOR [version]
GO
ALTER TABLE [dbo].[Role_Dashboard_Period_States] ADD  DEFAULT ('') FOR [role_name]
GO
ALTER TABLE [dbo].[Role_Dashboard_Period_States] ADD  DEFAULT ('') FOR [dashboard_title]
GO
ALTER TABLE [dbo].[Role_Dashboard_Period_States] ADD  DEFAULT ((0)) FOR [is_current]
GO
ALTER TABLE [dbo].[Role_Dashboard_Period_States] ADD  DEFAULT (sysutcdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[Room_Images] ADD  DEFAULT ((0)) FOR [is_primary]
GO
ALTER TABLE [dbo].[Room_Images] ADD  CONSTRAINT [DF__Room_Imag__is_ac__17036CC0]  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[Room_Inventory] ADD  DEFAULT ((1)) FOR [quantity]
GO
ALTER TABLE [dbo].[Room_Inventory] ADD  DEFAULT ((0)) FOR [price_if_lost]
GO
ALTER TABLE [dbo].[Room_Inventory] ADD  CONSTRAINT [DF__Room_Inve__is_ac__17F790F9]  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[Room_Inventory] ADD  CONSTRAINT [DF__Room_Inve__item___18EBB532]  DEFAULT ('standard') FOR [item_type]
GO
ALTER TABLE [dbo].[Room_Inventory] ADD  CONSTRAINT [DF_Room_Inventory_EquipmentId_Temp]  DEFAULT ((0)) FOR [EquipmentId]
GO
ALTER TABLE [dbo].[Room_Inventory] ADD  DEFAULT ((0)) FOR [quantity_in_use]
GO
ALTER TABLE [dbo].[Room_Inventory] ADD  DEFAULT ((0)) FOR [quantity_damaged]
GO
ALTER TABLE [dbo].[Room_Types] ADD  CONSTRAINT [DF__Room_Type__is_ac__160F4887]  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[Rooms] ADD  DEFAULT ('Available') FOR [status]
GO
ALTER TABLE [dbo].[Rooms] ADD  CONSTRAINT [DF__Rooms__cleaning___14270015]  DEFAULT ('Clean') FOR [cleaning_status]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((1)) FOR [status]
GO
ALTER TABLE [dbo].[Vouchers] ADD  DEFAULT ((0)) FOR [min_booking_value]
GO
ALTER TABLE [dbo].[Vouchers] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[Vouchers] ADD  DEFAULT ('General') FOR [voucher_type]
GO
ALTER TABLE [dbo].[Articles]  WITH NOCHECK ADD FOREIGN KEY([author_id])
REFERENCES [dbo].[Users] ([id])
GO
ALTER TABLE [dbo].[Articles]  WITH NOCHECK ADD FOREIGN KEY([category_id])
REFERENCES [dbo].[Article_Categories] ([id])
GO
ALTER TABLE [dbo].[Articles]  WITH CHECK ADD  CONSTRAINT [FK_Articles_Attractions] FOREIGN KEY([attraction_id])
REFERENCES [dbo].[Attractions] ([id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Articles] CHECK CONSTRAINT [FK_Articles_Attractions]
GO
ALTER TABLE [dbo].[Audit_Logs]  WITH NOCHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[Users] ([id])
GO
ALTER TABLE [dbo].[Booking_Details]  WITH NOCHECK ADD FOREIGN KEY([booking_id])
REFERENCES [dbo].[Bookings] ([id])
GO
ALTER TABLE [dbo].[Booking_Details]  WITH NOCHECK ADD FOREIGN KEY([room_id])
REFERENCES [dbo].[Rooms] ([id])
GO
ALTER TABLE [dbo].[Booking_Details]  WITH NOCHECK ADD FOREIGN KEY([room_type_id])
REFERENCES [dbo].[Room_Types] ([id])
GO
ALTER TABLE [dbo].[Bookings]  WITH NOCHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[Users] ([id])
GO
ALTER TABLE [dbo].[Bookings]  WITH NOCHECK ADD FOREIGN KEY([voucher_id])
REFERENCES [dbo].[Vouchers] ([id])
GO
ALTER TABLE [dbo].[Invoices]  WITH NOCHECK ADD FOREIGN KEY([booking_id])
REFERENCES [dbo].[Bookings] ([id])
GO
ALTER TABLE [dbo].[Loss_And_Damages]  WITH NOCHECK ADD FOREIGN KEY([booking_detail_id])
REFERENCES [dbo].[Booking_Details] ([id])
GO
ALTER TABLE [dbo].[Loss_And_Damages]  WITH NOCHECK ADD FOREIGN KEY([room_inventory_id])
REFERENCES [dbo].[Room_Inventory] ([id])
GO
ALTER TABLE [dbo].[Notifications]  WITH NOCHECK ADD  CONSTRAINT [FK_Notifications_Users] FOREIGN KEY([user_id])
REFERENCES [dbo].[Users] ([id])
GO
ALTER TABLE [dbo].[Notifications] CHECK CONSTRAINT [FK_Notifications_Users]
GO
ALTER TABLE [dbo].[Order_Service_Details]  WITH NOCHECK ADD FOREIGN KEY([order_service_id])
REFERENCES [dbo].[Order_Services] ([id])
GO
ALTER TABLE [dbo].[Order_Service_Details]  WITH NOCHECK ADD FOREIGN KEY([service_id])
REFERENCES [dbo].[Services] ([id])
GO
ALTER TABLE [dbo].[Order_Services]  WITH NOCHECK ADD FOREIGN KEY([booking_detail_id])
REFERENCES [dbo].[Booking_Details] ([id])
GO
ALTER TABLE [dbo].[Payments]  WITH NOCHECK ADD FOREIGN KEY([invoice_id])
REFERENCES [dbo].[Invoices] ([id])
GO
ALTER TABLE [dbo].[Reviews]  WITH NOCHECK ADD FOREIGN KEY([room_type_id])
REFERENCES [dbo].[Room_Types] ([id])
GO
ALTER TABLE [dbo].[Reviews]  WITH NOCHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[Users] ([id])
GO
ALTER TABLE [dbo].[Role_Dashboard_Period_States]  WITH CHECK ADD  CONSTRAINT [FK_DashSnapshot_Role] FOREIGN KEY([role_id])
REFERENCES [dbo].[Roles] ([id])
GO
ALTER TABLE [dbo].[Role_Dashboard_Period_States] CHECK CONSTRAINT [FK_DashSnapshot_Role]
GO
ALTER TABLE [dbo].[Role_Permissions]  WITH NOCHECK ADD FOREIGN KEY([permission_id])
REFERENCES [dbo].[Permissions] ([id])
GO
ALTER TABLE [dbo].[Role_Permissions]  WITH NOCHECK ADD FOREIGN KEY([role_id])
REFERENCES [dbo].[Roles] ([id])
GO
ALTER TABLE [dbo].[Room_Images]  WITH NOCHECK ADD FOREIGN KEY([room_type_id])
REFERENCES [dbo].[Room_Types] ([id])
GO
ALTER TABLE [dbo].[Room_Inventory]  WITH NOCHECK ADD FOREIGN KEY([room_id])
REFERENCES [dbo].[Rooms] ([id])
GO
ALTER TABLE [dbo].[Rooms]  WITH NOCHECK ADD FOREIGN KEY([room_type_id])
REFERENCES [dbo].[Room_Types] ([id])
GO
ALTER TABLE [dbo].[RoomType_Amenities]  WITH NOCHECK ADD FOREIGN KEY([amenity_id])
REFERENCES [dbo].[Amenities] ([id])
GO
ALTER TABLE [dbo].[RoomType_Amenities]  WITH NOCHECK ADD FOREIGN KEY([room_type_id])
REFERENCES [dbo].[Room_Types] ([id])
GO
ALTER TABLE [dbo].[RoomType_Services]  WITH CHECK ADD  CONSTRAINT [FK_RoomType_Services_RoomTypes] FOREIGN KEY([room_type_id])
REFERENCES [dbo].[Room_Types] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[RoomType_Services] CHECK CONSTRAINT [FK_RoomType_Services_RoomTypes]
GO
ALTER TABLE [dbo].[RoomType_Services]  WITH CHECK ADD  CONSTRAINT [FK_RoomType_Services_Services] FOREIGN KEY([service_id])
REFERENCES [dbo].[Services] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[RoomType_Services] CHECK CONSTRAINT [FK_RoomType_Services_Services]
GO
ALTER TABLE [dbo].[Services]  WITH NOCHECK ADD FOREIGN KEY([category_id])
REFERENCES [dbo].[Service_Categories] ([id])
GO
ALTER TABLE [dbo].[Users]  WITH NOCHECK ADD FOREIGN KEY([membership_id])
REFERENCES [dbo].[Memberships] ([id])
GO
ALTER TABLE [dbo].[Users]  WITH NOCHECK ADD FOREIGN KEY([role_id])
REFERENCES [dbo].[Roles] ([id])
GO
ALTER TABLE [dbo].[Reviews]  WITH NOCHECK ADD CHECK  (([rating]>=(1) AND [rating]<=(5)))
GO
USE [master]
GO
